<?xml version="1.0"?>
<level world="resources/levels/menu.svg">
    <camera type="followcamera" target="player" maxdistance="100" />
    <entity id="player" filename ="resources/player/player.xml">
        <position x="200" y="160" />
    </entity>
    <entity id="quit" script="resources/levels/menu-quit.lua">
        <position x="60" y="150" />
        <radius x="35" y="50" />
    </entity>
    <entity id="play" script="resources/levels/menu-play.lua">
        <position x="330" y="155" />
        <radius x="35" y="50" />
    </entity>
</level>
